{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/github",
    "@semantic-release/npm",
    [
      "@semantic-release/git",
      {
        "assets": ["CHANGELOG.md", "package.json"],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "publishCmd": "docker build -t $DOCKER_USERNAME/localstack-ui:${nextRelease.version} -t $DOCKER_USERNAME/localstack-ui:latest . && docker push $DOCKER_USERNAME/localstack-ui:${nextRelease.version} && docker push $DOCKER_USERNAME/localstack-ui:latest"
      }
    ]
  ]
}
